/*=============== ABOUT ===============*/
.about {
  position: relative;
  height: 100vh;
}

.about__container {
  row-gap: 3rem;
}

.about__data {
  text-align: center;
}

.about__title {
  text-align: center;
}

.about__title img {
  width: 30px;
}

.about__title div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.about__img {
  width: 300px;
  justify-self: center;
}

.about__leaf {
  width: 100px;
  opacity: 0.2;
  position: absolute;
  right: -1.5rem;
  bottom: 11rem;
  transform: rotate(-15deg);
}

/*=============== BREAKPOINTS ===============*/

/* for small devices */
@media screen and (max-width: 340px) {
  .about__leaf {
    bottom: 8rem;
  }
}

/* for medium devices */
@media screen and (min-width: 576px) {
  .about__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
  }
}

/* for large devices */
@media screen and (min-width: 1024px) {
  .about__container {
    grid-template-columns: 450px 360px;
    align-items: center;
    column-gap: 7rem;
  }

  .about__data {
    order: 1;
  }

  .about__data,
  .about {
    text-align: initial;
  }

  .about__title div {
    column-gap: 1rem;
    justify-content: initial;
  }

  .about__title img {
    width: 50px;
  }

  .about__img {
    width: 450px;
  }
}

@media screen and (min-width: 1280px) {
  .about__leaf {
    width: 200px;
    bottom: 3rem;
  }
}
