/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: rgb(213, 110, 63);
  --first-color-alt: rgb(211, 104, 54);
  --title-color: rgb(44, 36, 32);
  --text-color: rgb(104, 84, 75);
  --text-color-light: rgb(149, 137, 131);
  --body-color: rgb(255, 241, 235);
  --container-color: rgb(255, 245, 240);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --title-font: "Lora", serif;
  --subtitle-font: "Dancing Script", cursive;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== RESETS ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  font-family: var(--subtitle-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.main {
  overflow: hidden;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: 100;
  transition: box-shadow 0.3s, background 0.4s;
}

.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

.nav__logo,
.nav__toggle,
.nav__close {
  display: flex;
  color: var(--title-color);
}

.nav__logo {
  align-items: center;
  gap: 1rem;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  font-weight: 600;
  transition: color 0.3s;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 0 8px 20px rgba(100, 47, 22, 0.1);
    padding-block: 3.5rem;
    transition: top 1s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: 500;
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__img-1,
.nav__img-2 {
  position: absolute;
  opacity: 0.2;
}

.nav__img-1 {
  width: 100px;
  top: 0.75rem;
  left: -2rem;
  transform: rotate(165deg);
}

.nav__img-2 {
  width: 50px;
  right: -1rem;
  bottom: 0;
  transform: rotate(-30deg);
}

.show-menu {
  top: 0;
}

.bg-header {
  box-shadow: 0 2px 8px rgba(100, 47, 22, 0.1);
}

/*=============== BUTTON ===============*/

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  color: #fff;
  font-weight: 500;
  transition: background 0.3s;
}

.button i {
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button:hover i {
  transform: translateX(0.25rem);
}

/*=============== ANIMATIONS ===============*/
.scroll-top,
.scroll-left,
.scroll-right {
  opacity: 0;
  transform: translateY(50px); /* Default offset */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Slide in from the top */
.scroll-top {
  transform: translateY(-50px);
}

/* Slide in from the left */
.scroll-left {
  transform: translateX(-50px);
}

/* Slide in from the right */
.scroll-right {
  transform: translateX(50px);
}

/* When the element is visible, apply animation */
.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

/*=============== BREAKPOINTS ===============*/

/* for small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .section {
    padding-block: 4rem 1rem;
  }
}

@media screen and (min-width: 767px) {
  .nav {
    column-gap: 3rem;
  }

  .nav__toggle,
  .nav__close,
  .nav__img-1,
  .nav__img-2 {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    margin-left: auto;
  }
}

/* for large devices */
@media screen and (min-width: 1024px) {
  .section {
    padding-block: 7rem 1.5rem;
  }

  .section__subtitle {
    margin-bottom: 0.75rem;
  }

  .nav {
    height: 5rem;
  }

  .section__subtitle,
  .section__title {
    text-align: initial;
  }
}

@media screen and (min-width: 1064px) {
  .container {
    margin-inline: auto;
  }
}
